ipython
ir-datasets
numpy==1.18.5
pandas==1.1.5
pytrec-eval==0.4
sacred==0.8.1
torch==1.7.0+cu110
tqdm==4.46.1
transformers
scipy==1.4.1
sentence-transformers==2.0.0
faiss-cpu==1.7.1
dataclasses
pyserini==0.18.0
pyjnius==1.4.2
py7zr==0.9.5
wandb==0.9.7
python-terrier==0.7.0
